global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'gcs-upload-service'
    static_configs:
      # Uses Docker internal DNS when running with docker-compose.yml from root
      - targets: ['go-service:8080']
    metrics_path: /metrics
